/* Styles for landing page and presentations listings page */

body,
html {
	min-height: 100vh;

}

body {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.list-group-item {
  color: #526daa !important;
}

.list-group-item.disabled, .list-group-item:disabled {
    background-color: rgba(256,256,256,0.5);
}

.content {
  max-width: 700px;
}

.nav-item {
  min-width: 350px;
  flex: 1;
  height: 100px;
  align-items: center;
}

.nav-item.logos {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .nav-item.logos {
    display: none;
  }
}
